.LoginComponent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    padding: .1rem;
    box-sizing: border-box;
    background: rgba(72, 160, 176, 0.292);
    border-radius: 0.925rem;
    z-index: 1;
}

/**
TODO
**/


.TestMain::before {
  display: flex;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: changeBackground 30s linear infinite;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(10px); 
  z-index: -1;
  
}
.TestMain:nth-child(1) {
  background-image: url('../images/sfcbackground1.jpg');
}

.TestMain:nth-child(2) {
  background-image: url('../images/homeBackground.jpg');
}

.TestMain:nth-child(3) {
  background-image: url('../images/sfcbackground3.jpg');
}

/* Define keyframes for the slideshow */
@keyframes changeBackground {
  0%, 100% {
    background-image: url('../images/sfcbackground1.jpg');
  }
  33.33% {
    background-image: url('../images/homeBackground.jpg');
  }
  66.66% {
    background-image: url('../images/sfcbackground3.jpg');
  }
}


.LoginComponent h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 1.875rem;
    padding: 0;
    color: #ffffff;
    text-align: center;
}


.LoginComponent .inputBox {
    position: relative;
    color: rgba(255, 248, 248, 0.314);
}

.LoginComponent .inputBox input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.065rem solid #fff;
    outline: none;
    background: transparent;
}

.LoginComponent .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    
}

.input-field::placeholder {
  color: #fff;
  opacity: 1; 
}

.LoginComponent .inputBox input:focus ~ label,
.LoginComponent .inputBox input:valid ~ label,
.LoginComponent .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #03a9f4;
  font-size: 0.75rem;
}


.LoginComponent button[type="submit"]:hover {
  background-color: #1cb1f5;
}

.login-button {
  background-color: #03a9f4;
  color: #fff;
  border: none;
  padding: 0.325rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
  align-self: flex-end;
}

.auth-form-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.text-section {
  text-align: center;
  color: white;
  font-size: small;
  margin-top: 10px;
}
